@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=PT+Serif:wght@700&display=swap');

/*VARIÃVEIS*/
:root{
    --backgroundcollor: #EAEAEA;
    --primarycollor: #3C4048;
    --secondarycollor: #B2B2B2;
}

/*GLOBAL*/
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', serif;
}

.reveal, .title-reveal, .logo-reveal, .name-reveal{
    visibility: hidden;
}

/*MENU*/
nav {
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav #logo {
    padding: 1vh 0 1vh 1vh;
    height: 8vh;
    width: auto;
    background-color: var(--primarycollor);
}

nav #menu {
    background-color: var(--primarycollor);
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

nav #menu #menu-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav #menu #menu-list li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
}

nav #menu #menu-list li a:after{
    content: "";
    display: flex;
    width: 0;
    height: 2px;
    background-color: var(--secondarycollor);
    transition: 0.5s;
}

nav #menu #menu-list li a:hover:after{
    width: 100%;
}

nav #menu #burger {
    display: none;
}
/*FIM MENU*/

header, main{
    font-size: 1.1rem;
}

main{
    background-color: var(--backgroundcollor);
}

section{
    padding-top: 15vh;
    min-height: 85vh;
    overflow-x: hidden;
}

h1{
    font-family: 'Rockwell', 'PT Serif', serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 5vw;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    text-align: center;
}

.logo{
    width: 25%;
    margin: auto;
    display: block;
}

#inicio{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 30vh;
}

#historia>div{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 3rem;
    gap: 2rem;
}

#texto-historia{
    text-indent: 2rem;
    text-align: justify;
    hyphens: auto;
    margin: auto 0;
}

#imagem-historia{
    display: flex;
    justify-content: center;
}

#imagem-historia img{
    object-fit: cover;
    height: 50vh;
    width: 50vw;
}

/*CONTATO*/
#lista-icones{
    list-style: none;
    height: 15vh;
    display: flex;
    width: max-content;
    gap: 5rem;
    margin: auto;
    align-items: center;
}
.icones{
    display: flex;
    text-decoration: none;
    color: var(--primarycollor);
    font-size: 3rem;
    gap: 1rem;
}
.icones:hover{
    color: var(--secondarycollor);
    transition: 0.3s;
}
.icones span{
    font-size: 1.5rem;
    align-self: center;
}
/*FIM CONTATO*/

#divmapa{
    display: flex;
    align-self: center;
    justify-content: center;
}

section:last-of-type{
    padding-bottom: 10vh;
}

footer{
    padding: 1.2rem 1.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--primarycollor);
    color: var(--secondarycollor);
}


/*RESPONSIVIDADE*/
/*MOBILE*/
@media (max-width: 767px){
    h1, h2{
        padding-left: 0;
    }

    nav #menu {
        justify-content: flex-end;
    }

    nav #menu #menu-list {
        position: fixed;
        display: grid;
        left: 0;
        top: 10vh;
        height: 0px;
        width: 100vw;
        background-color: var(--primarycollor);
        text-align: center;
        align-items: center;
        transition: 0.5s;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav #menu #menu-list.mostrar-menu {
        height: 35vh;
        visibility: visible;
    }

    nav #menu #burger {
        display: block;
        width: 30px;
        margin-right: 1rem;
    }

    nav #menu #burger div,
    nav #menu #burger:after,
    nav #menu #burger:before {
        background: var(--secondarycollor);
        content: "";
        display: block;
        height: 4px;
        border-radius: 2px;
        margin: 5px 0;
        transition: 0.5s;
    }

    nav #menu #burger.fechar:before {
        transform: translateY(8.7px) rotate(135deg);
    }

    nav #menu #burger.fechar:after {
        transform: translateY(-8.7px) rotate(-135deg);
    }

    nav #menu #burger.fechar div {
        transform: scale(0);
    }

    #inicio{
        min-height: 60vh;
    }
    
    #historia>div{
        flex-direction: column;
        gap: 2rem;
        margin: 0;
    }
    
    #texto-historia{
        margin: 0 2rem;
    }
    
    #imagem-historia{
        height: 60vh;
        width: 90vw;
        overflow: hidden;
        margin: auto;
    }

    #imagem-historia img{
        width: auto;
        height: auto;
    }

    #contato{
        min-height: 30vh;
    }

    #lista-icones{
        flex-direction: column;
        height: auto;
        gap: 1.5rem; 
        word-break: break-all;
        max-width: 80vw;
    }

    .icones{
        font-size: 2.5rem;
    }

    .icones span{
        font-size: 1.3rem;
    }

    #divmapa{
        margin: 0 3vw;
    }
}

/*MONITORES PEQUENOS*/
@media (min-width: 768px) and (max-width:1023px){
    .logo{
        width: 50%;
    }
    
    #lista-icones{
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
    } 
}

/*DISPOSITIVOS IOS*/
@supports (-webkit-touch-callout: none){
    /*nav #logo {
        width: 16.6vh;
    }*/
    #texto-historia{
        -webkit-hyphens: auto;
    }
}